@keyframes vanish {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes squash-menu {
  from {
    height: 0;
  }

  to {
    height: 100vh;
  }
}

@keyframes unsquash-menu {
  from {
    height: 100vh;
  }

  to {
    height: 0;
  }
}

@keyframes zoom-in-bg {
  from {
    background-size: 0;
  }

  to {
    background-size: 4rem; 
  }
}

@keyframes zoom-out-bg {
  from {
    background-size: 4rem;
  }

  to {
    background-size: 0;
  }
}

@keyframes slide-in-bg {
  from {
    background-position: center -200px;
  }

  to {
    background-position: center center;
  }
}

@keyframes slide-out-bg {
  from {
    background-position: center center;
  }

  to {
    background-position: center -200px;
  }
}