.footer {
  background-color: var(--c-black);
  color: var(--c-white--ls);

  display: grid;
  place-items: center;
  text-align: center;

  padding-block: 48px;
}

.footer__title {
  font-weight: 700;
  margin-bottom: 16px;
}

.footer__link {
  color: inherit;

  transition: all 0.2s ease-in-out;
}

.footer__link:hover {
  text-decoration: none;
  color: var(--c-main);
}
