.footer {
  background-color: var(--c-black);
  color: var(--c-white--ls);

  display: grid;
  place-items: center;
  text-align: center;

  padding-block: 48px;
}

.footer__title {
  font-weight: 700;
  margin-bottom: 16px;
}

.description__link {
  color: inherit;
}

@media screen and (prefers-reduced-motion: reduce) {
  .description__link {
    transition: all 0.2s ease;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .description__link {
    transition: all 0.2s ease-in-out;
  }
}

.description__link:hover {
  text-decoration: none;
  color: var(--c-main);
}
