@import url(./animations.css);

.header {
  padding: 23px 80px;
  background-color: var(--c-black);
  color: var(--c-white--ls);

  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  position: fixed;
  z-index: 10;
  width: 100vw;
}

.header__logo {
  display: none;
}

.header__menu {
  display: grid;
  place-items: center;
}

.header__menu__btn {
  display: inline-block;
  background-color: transparent;
  color: inherit;
  border: none;
  font-size: 1.2rem;
}

.header__menu__btn:hover,
.header__nav__link:hover,
.header__nav__link:focus {
  color: var(--c-main);
}

.header__menu__btn:active,
.header__nav__link:active {
  color: var(--c-main--ds);
}

.header__nav {
  display: grid;
  place-items: flex-start;

  height: 0;
  overflow: hidden;
}

.header__nav.expanded {
  height: 100vh;
}

.header__nav__links {
  flex-direction: column;
  gap: 0.75rem;
  text-align: center;

  padding-top: 40px;
}

.header__nav__link {
  display: inline-block;
  border: 4px solid transparent;
  padding-block: 8px;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-variant: small-caps;
}

@media screen and (prefers-reduced-motion: reduce) {
  .header__menu__btn,
  .header__nav__link {
    transition: all .2s ease;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .header__menu__btn,
  .header__nav__link {
    transition: all .2s ease-in-out;
  }
}

.header__nav__link:hover,
.header__nav__link:focus {
  border-bottom-color: inherit;
}

.header__nav__link:focus {
  outline: none;
}

@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
    padding: 0 80px;
    width: calc(100vw - 0.5rem);
  }

  .header__logo {
    display: inline-block;
    min-width: 80px;
    width: 5rem;
  }

  .header__menu__btn {
    display: none;
  }

  .header__nav {
    height: auto;
  }

  .header__nav__links {
    flex-direction: row;

    padding-top: 0;
  }
}
