@import url(./animations.css);

.header {
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  justify-content: space-between;
  
  position: fixed;
  z-index: 10;

  padding: 23px 80px;
  width: 100vw;

  background-color: var(--c-black);
  color: var(--c-white--ls);
}

.header__logo {
  display: none;
}

.header__menu {
  display: grid;
  place-items: center;
}

.menu__btn {
  display: inline-block;
  
  border: none;
  font-size: 1.2rem;
  
  color: inherit;
  background-color: transparent;
}

.menu__btn:hover,
.links__item:hover,
.links__item:focus {
  color: var(--c-main);
}

.menu__btn:active,
.links__item:active {
  color: var(--c-main--ds);
}

.header__nav {
  display: grid;
  place-items: flex-start;

  height: 0;

  overflow: hidden;
}

.header__nav.expanded {
  height: 100vh;
}

.nav__links {
  flex-direction: column;
  gap: 0.75rem;
  text-align: center;

  padding-top: 40px;
}

.links__item {
  display: inline-block;

  border-bottom: 4px solid transparent;
  padding: 4px 8px;

  color: inherit;
  font-variant: small-caps;
  font-weight: 500;
  text-decoration: none;
}

.links__item.active {
  position: relative;
  z-index: 1;

  color: var(--c-black);
}

.links__item.active::before {
  display: block;

  position: absolute;
  z-index: -1;
  left: 4px;
  top: 2px;

  width: calc(100% - 8px);
  height: calc(100% - 4px);
  
  background-color: var(--c-main);
  box-shadow: 4px 4px 0 0 var(--c-gray--l);
  content: "";
}

@media screen and (prefers-reduced-motion: reduce) {
  .menu__btn,
  .links__item,
  .header__nav.expanded,
  .header__nav:not(.expanded) {
    transition: all 0.2s ease;
  }

  .links__item.active::before {
    animation: unvanish 0.2s forwards;
    opacity: 0;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .menu__btn,
  .links__item,
  .header__nav.expanded,
  .header__nav:not(.expanded) {
    transition: all 0.2s ease-in-out;
  }

  .links__item.active::before {
    animation: unvanish 0.2s forwards;
    opacity: 0;
  }
}

.links__item:hover,
.links__item:focus {
  border-bottom-color: inherit;
}

.links__item.active:hover,
.links__item.active:focus {
  border-bottom-color: transparent;
}

.links__item:focus {
  outline: none;
}

@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;

    padding: 0 80px;
    width: calc(100vw - 0.5rem);
  }

  .header__logo {
    display: inline-block;
    
    min-width: 80px;
    width: 5rem;
  }

  .menu__btn {
    display: none;
  }

  .header__nav {
    height: auto;
  }

  .nav__links {
    flex-direction: row;

    padding-top: 0;
  }
}
