@import url(./animations.css);

.main__projects {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects__description {
  text-align: center;

  font-size: 1.25rem;
  margin-bottom: 16px;
}

.projects__button {
  border: none;
  margin-bottom: 16px;
  padding: 16px;

  background-color: var(--c-black);
  color: var(--c-white--ls);
}

.projects__button:hover,
.projects__button:focus {
  background-color: var(--c-main);
  box-shadow: 4px 4px 2px var(--c-gray);
  color: var(--c-black);
  transform: scale(1.03);
}

.projects__button:focus-visible {
  outline: 2px solid var(--c-black);
}

.projects__button:active {
  box-shadow: 0 0 0 transparent;
  transform: scale(1);
}

.projects__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  margin-top: 48px;
}

.list__project {
  display: grid;
  gap: 1rem;
  grid-template-areas: "banner" "detail";
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  text-align: center;
  
  max-width: 100%;
  height: auto;
  
  background-color: var(--c-white--ls);
  box-shadow: 4px 4px 4px var(--c-gray--ls);
}

.list__project:hover,
.list__project:focus-within {
  box-shadow: none;
}

.list__project:hover .content__title,
.list__project:active .content__title {
  color: var(--c-main--ds);
}

.project__banner {
  grid-area: banner;

  object-fit: cover;

  height: 100%;
}

.project__content {
  grid-area: detail;

  display: flex;
  align-self: flex-end;
  flex-direction: column;
  gap: 0.5rem;

  padding: 16px;
}

.content__title {
  font-size: 1.25rem;

  font-weight: 700;
}

.content__description {
  font-size: 0.875rem;

  font-weight: 500;
}

.content__options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.options__link {
  display: flex;
  flex: 1;
  justify-content: center;
  
  font-size: 1rem;
  padding: 12px 16px;

  font-weight: 500;
  text-decoration: none;
}

@media screen and (prefers-reduced-motion: reduce) {
  .projects__button,
  .list__project,
  .content__title,
  .options__link {
    transition: all 0.2s ease;
  }

  .list__project {
    animation: unvanish 0.1s forwards;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .projects__button,
  .list__project,
  .content__title,
  .options__link {
    transition: all 0.2s ease-in-out;
  }

  .list__project {
    animation: unvanish 0.2s forwards;
  }
}

.options__link:hover,
.options__link:focus {
  box-shadow: 4px 4px 2px var(--c-gray);
  transform: scale(1.03);
}

.options__link:focus-visible {
  outline: 2px solid var(--c-black);
}

.options__link:active {
  transform: scale(1);
  box-shadow: none;
}

.options__link:first-child {
  border: 2px solid var(--c-main--d);

  background-color: var(--c-white--ls);
  color: var(--c-main--d);
}

.options__link:nth-child(2) {
  border: 2px solid var(--c-main--d);
  
  background-color: var(--c-main--d);
  color: var(--c-white--ls);
}

.options__link:first-child:hover {
  border: 2px solid var(--c-main--ds);

  background-color: var(--c-white--l);
  color: var(--c-main--ds);
}

.options__link:nth-child(2):hover {
  background-color: var(--c-main--ds);
  border-color: var(--c-main--ds);
}

@media screen and (min-width: 512px) {
  .content__options {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .list__project {
    height: 40rem;
  }

  .project__banner {
    width: 100%;
    height: 20rem;
  }

  .project__content {
    align-self: center;
  }

  .content__title {
    font-size: 1.5rem;
  }

  .content__description {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .list__project {
    grid-template-rows: 1fr;
    
    height: 20rem;
  }

  .list__project:nth-child(even) {
    grid-template-areas: "banner detail";
    grid-template-columns: 4fr 5fr;
    text-align: left;
  }
  
  .list__project:nth-child(odd) {
    grid-template-areas: "detail banner";
    grid-template-columns: 5fr 4fr;
    text-align: right;
  }
}
