@import url(./animations.css);

.list__skill {
  background-size: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

.list__skill:hover,
.list__skill:active {
  background-size: 4rem;
}

.list__skill:not(:hover) {
  background-size: 0;
}

.list__skill:first-child {
  background-image: url("../public/images/html5-brands.svg");
}

.list__skill:nth-child(2) {
  background-image: url("../public/images/css3-brands.svg");
}

.list__skill:nth-child(3) {
  background-image: url("../public/images/js-brands.svg");
}
