.main__hero,
.main__about,
.main__skills,
.main__hobbies,
.main__graduations,
.main__projects,
.contact,
.footer {
  padding: 24px 16px;
}

.main__hero {
  padding-top: 88px;
}

.about__title,
.skills__title,
.hobbies__title,
.graduations__title,
.projects__title,
.fieldset__title {
  margin-bottom: 32px;

  font-size: 2rem;
  font-weight: 700;
}

.skills__list,
.hobbies__list,
.graduations__list {
  display: grid;
  flex-wrap: wrap;

  margin-top: 32px;
}

.skills__list,
.hobbies__list {
  grid-template-columns: repeat(auto-fit, minmax(min(163px, 100%), 1fr));
}

.skills__description,
.hobbies__description {
  text-align: center;
}

.list__skill,
.list__hobby {
  align-items: flex-end;
  flex: 1;
  
  border-bottom: 4px solid var(--c-black);
  min-width: 160px;
  min-height: 160px;
  padding: 16px;
  
  background-color: var(--c-white--ls);
  font-weight: 700;
}

@media screen and (prefers-reduced-motion: reduce) {
  .list__skill,
  .list__hobby {
    transition: all ease 0.2s;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .list__skill,
  .list__hobby {
    transition: all ease-in-out 0.2s;
  }
}

.list__skill:focus,
.list__hobby:focus,
.list__skill:hover,
.list__hobby:hover {
  border-bottom-color: var(--c-main);
}

.list__skill:focus,
.list__hobby:focus,
.list__graduation:focus .graduation__banner,
.list__skill:hover,
.list__hobby:hover,
.graduation__banner:hover {
  color: var(--c-main);
  transform: scale(1.05);
}

.skills__list,
.hobbies__list,
.graduations__list {
  gap: 1rem;
}

.list__skill,
.list__hobby {
  display: flex;
}

@media screen and (min-width: 768px) {
  .main__hero,
  .main__about,
  .main__skills,
  .main__hobbies,
  .main__graduations,
  .main__projects,
  .contact {
    padding: 40px;
  }

  .main__hero {
    padding-top: 96px;
  }

  .skills__list,
  .hobbies__list,
  .graduations__list {
    justify-content: center;
  }

  .graduations__list {
    grid-template-columns: repeat(auto-fit, minmax(min(224px, 100%), 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .main__hero,
  .main__about,
  .main__skills,
  .main__hobbies,
  .main__graduations,
  .main__projects,
  .contact {
    padding: 40px 80px;
  }

  .main__hero {
    padding-top: 96px;
  }
}
