@import url(./animations.css);

.main__projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__description {
  font-size: 1.25rem;
  margin-bottom: 16px;
  text-align: center;
}

.projects__button {
  padding: 16px;
  margin-bottom: 16px;
  background-color: var(--c-black);
  color: var(--c-white--ls);
  border: none;
}

.projects__button:hover,
.projects__button:active,
.projects__button:focus {
  background-color: var(--c-main);
  color: var(--c-black);

  box-shadow: 4px 4px 2px var(--c-gray);
}

.projects__button:focus {
  outline: 2px solid var(--c-black);
  transform: scale(1.03);
}

.projects__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 48px;
}

.list__project {
  display: grid;
  grid-template-areas: "banner" "detail";
  grid-template-rows: 1fr 1fr;
  height: auto;
  text-align: center;

  gap: 1rem;
  background-color: var(--c-white--ls);

  box-shadow: 4px 4px 4px var(--c-gray--ls);
  max-width: 100%;

  overflow: hidden;
}

.list__project:hover,
.list__project:focus-within {
  box-shadow: none;
}

.list__project:hover .content__title,
.list__project:active .content__title {
  color: var(--c-main--ds);
}

.project__banner {
  grid-area: banner;
  height: 100%;
  object-fit: cover;
}

.project__content {
  grid-area: detail;
  align-self: flex-end;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 16px;
}

.content__title {
  font-weight: 700;

  font-size: 1.25rem;
}

.content__description {
  font-weight: 500;
  font-size: 0.875rem;
}

.content__options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.options__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 1rem;
}

@media screen and (prefers-reduced-motion: reduce) {
  .projects__button,
  .list__project,
  .content__title,
  .options__link {
    transition: all 0.2s ease;
  }

  .list__project {
    animation: unvanish 0.1s forwards;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .projects__button,
  .list__project,
  .content__title,
  .options__link {
    transition: all 0.2s ease-in-out;
  }

  .list__project {
    animation: unvanish 0.2s forwards;
  }
}

.options__link:hover,
.options__link:active,
.options__link:focus {
  transform: scale(1.03);
}

.options__link:focus {
  outline: 2px solid var(--c-black);
}

.options__link:first-child {
  color: var(--c-main--d);
  background-color: var(--c-white--ls);
  border: 2px solid var(--c-main--d);
}

.options__link:nth-child(2) {
  color: var(--c-white--ls);
  background-color: var(--c-main--d);
  border: 2px solid var(--c-main--d);
}

.options__link:first-child:hover {
  color: var(--c-main--ds);
  background-color: var(--c-white--l);
  border: 2px solid var(--c-main--ds);
}

.options__link:nth-child(2):hover {
  background-color: var(--c-main--ds);
  border-color: var(--c-main--ds);
}

@media screen and (min-width: 512px) {
  .content__options {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .list__project {
    height: 40rem;
  }

  .project__banner {
    width: 100%;
    height: 20rem;
  }

  .project__content {
    align-self: center;
  }

  .content__title {
    font-size: 1.5rem;
  }

  .content__description {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .list__project {
    grid-template-rows: 1fr;
    height: 20rem;
  }

  .list__project:nth-child(even) {
    grid-template-areas: "banner detail";
    grid-template-columns: 4fr 5fr;
    text-align: left;
  }
  
  .list__project:nth-child(odd) {
    grid-template-areas: "detail banner";
    grid-template-columns: 5fr 4fr;
    text-align: right;
  }
}
