.main__graduations {
  gap: 0.5rem;

  background-color: var(--c-white);
}

.list__graduation {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;

  min-width: 192px;
}

.graduation__banner {
  height: 15rem;
  
  background-color: var(--c-white--ls);
  transition: all 0.2s ease-in-out;
}

.graduation__title {
  font-size: 1.375rem;
  font-weight: 700;
}

.main__graduation__description {
}
