.list__hobby {
  background-position: center -200px;
  background-repeat: no-repeat;
  background-size: contain;
}

.list__hobby:first-child {
  background-image: url("../public/images/undraw_artist_custom.svg");
  background-size: 11rem;
}

.list__hobby:nth-child(2) {
  background-image: url("../public/images/undraw_reading_custom.svg");
}

.list__hobby:nth-child(3) {
  background-image: url("../public/images/undraw_running_person.svg");
  background-size: 8rem;
}

.list__hobby:nth-child(4) {
  background-image: url("../public/images/undraw_gaming.svg");
}

.list__hobby:hover,
.list__hobby:active,
.list__hobby:focus {
  background-position: center center;
}
