@import url(./animations.css);

.main__skill {
  background-size: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

.main__skill:hover,
.main__skill:active {
  animation: zoom-in-bg .3s forwards;
}

.main__skill:not(:hover) {
  animation: zoom-out-bg .3s forwards;
}

.main__skill:first-child {
  background-image: url('../assets/images/html5-brands.svg');
}

.main__skill:nth-child(2) {
  background-image: url('../assets/images/css3-brands.svg');
}

.main__skill:nth-child(3) {
  background-image: url('../assets/images/js-brands.svg');
}