@import url(./header.css);
@import url(./main_content.css);
@import url(./main_hero.css);
@import url(./main_about.css);
@import url(./main_projects.css);
@import url(./main_skills.css);
@import url(./main_hobbies.css);
@import url(./main_graduations.css);
@import url(./contact_form.css);
@import url(./footer.css);
@import url(./animations.css);
@import url(./scroll_button.css);

:root {
  --c-black: hsl(260, 14%, 4%);
  --c-black--l: hsl(260, 14%, 8%);
  --c-gray--d: hsl(257, 9%, 25%);
  --c-gray: hsl(257, 9%, 35%);
  --c-gray--l: hsl(255, 9%, 50%);
  --c-gray--ls: hsl(255, 9%, 70%);
  --c-main--ls: hsl(196, 84%, 86%);
  --c-main--l: hsl(196, 84%, 70%);
  --c-main: hsl(196, 84%, 56%);
  --c-main--d: hsl(196, 84%, 50%);
  --c-main--ds: hsl(196, 84%, 40%);
  --c-white: hsl(260, 48%, 90%);
  --c-white--l: hsl(260, 100%, 95%);
  --c-white--ls: hsl(260, 100%, 100%);
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../public/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  -webkit-tap-highlight-color: transparent;
  font-family: inherit;
}

html {
  scroll-padding-top: 72px;
}

@media screen and not (prefers-reduced-motion) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  letter-spacing: 0.125rem;
  line-height: 1.2;
  
  font-size: 1.125rem;
  
  background-color: var(--c-white--l);
  color: var(--c-black--l);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 300;
}

@media screen and (prefers-reduced-motion: reduce) {
  body {
    animation: unvanish 0.2s forwards;
    opacity: 0;
  }
}
@media screen and (prefers-reduced-motion: no-preference) {
  body {
    animation: unvanish 0.4s forwards;
    opacity: 0;
  }
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
}

.wrapper {
  display: flex;
}

.txt-center {
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

br {
  margin-bottom: 16px;
}

i {
  padding: 2px;
}

a {
  display: inline-flex;
  gap: 0.25rem;

  color: inherit;
}

a:focus {
  outline: none;
}

.main.toggled,
.contact.toggled,
.footer.toggled,
.scroller.toggled {
  display: none;
}

@media screen and (min-width: 1024px) {
  html {
    scroll-padding-top: 80px;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;

  background-color: var(--c-white--l);
}

::-webkit-scrollbar-thumb {
  width: 0.5rem;
  
  background-color: var(--c-black--l);
}

::selection {
  background-color: var(--c-main--ls);
}
