.scroller {
  text-decoration: none;
  border-radius: 100%;
  border: none;
  box-shadow: 0 0 2px var(--c-white--l);

  width: 4.25rem;
  height: 4.25rem;
  text-align: center;
  line-height: 1;
  display: grid;
  place-items: center;
  font-size: 0.75rem;

  background-color: var(--c-black--l);
  color: var(--c-white--ls);

  position: fixed;
  left: calc(100vw - 4.25rem - 16px);
  top: calc(100vh - 4.25rem - 16px);
  z-index: 1000;
}

@media screen and (prefers-reduced-motion: reduce) {
  .scroller {
    transition: all 0.2s ease;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .scroller {
    transition: all 0.2s ease-in-out;
  }
}

.scroller i {
  font-size: 1.7rem;
}

.scroller:active,
.scroller:hover {
  color: var(--c-main);
  transform: scale(1.025);
}

@media screen and (min-width: 768px) {
  .scroller {
    left: calc(100vw - 4.25rem - 40px);
  }
}

@media screen and (min-width: 1024px) {
  .scroller {
    left: calc(100vw - 0.5rem - 80px);
  }
}
